In [3]:
import requests
import pandas as pd
import apache_beam as beam

In [4]:
def fetch_data(url):
    try:
        response = requests.get(url)
        if response.status_code == 200:
            return response.json()
        else:
            print(f'Error {response.status_code}')
            return None
    except requests.exceptions.RequestException as e:
        print(f'Error {e}')
        return None

In [5]:
def fetch_first_50_pokemons(url):
    fetched_data = fetch_data(url)
    first_50_fetched_pokemons = fetched_data['pokemon'][:50]
    first_50_pokemon_urls = [pokemon['pokemon']['url'] for pokemon in first_50_fetched_pokemons]
    
    first_50_pokemons = []

    for pokemon_url in first_50_pokemon_urls:
        pokemon_data = fetch_data(pokemon_url)
        first_50_pokemons.append({
            'id': pokemon_data['id'],
            'name': pokemon_data['name'],
            'height': pokemon_data['height'],
            'weight': pokemon_data['weight']
        })

    return first_50_pokemons

In [6]:
api_url = 'https://pokeapi.co/api/v2/type/3'

first_50_pokemons = fetch_first_50_pokemons(api_url)
first_50_pokemons

[{'id': 6, 'name': 'charizard', 'height': 17, 'weight': 905},
 {'id': 12, 'name': 'butterfree', 'height': 11, 'weight': 320},
 {'id': 16, 'name': 'pidgey', 'height': 3, 'weight': 18},
 {'id': 17, 'name': 'pidgeotto', 'height': 11, 'weight': 300},
 {'id': 18, 'name': 'pidgeot', 'height': 15, 'weight': 395},
 {'id': 21, 'name': 'spearow', 'height': 3, 'weight': 20},
 {'id': 22, 'name': 'fearow', 'height': 12, 'weight': 380},
 {'id': 41, 'name': 'zubat', 'height': 8, 'weight': 75},
 {'id': 42, 'name': 'golbat', 'height': 16, 'weight': 550},
 {'id': 83, 'name': 'farfetchd', 'height': 8, 'weight': 150},
 {'id': 84, 'name': 'doduo', 'height': 14, 'weight': 392},
 {'id': 85, 'name': 'dodrio', 'height': 18, 'weight': 852},
 {'id': 123, 'name': 'scyther', 'height': 15, 'weight': 560},
 {'id': 130, 'name': 'gyarados', 'height': 65, 'weight': 2350},
 {'id': 142, 'name': 'aerodactyl', 'height': 18, 'weight': 590},
 {'id': 144, 'name': 'articuno', 'height': 17, 'weight': 554},
 {'id': 145, 'name': 'zapdos', 'height': 16, 'weight': 526},
 {'id': 146, 'name': 'moltres', 'height': 20, 'weight': 600},
 {'id': 149, 'name': 'dragonite', 'height': 22, 'weight': 2100},
 {'id': 163, 'name': 'hoothoot', 'height': 7, 'weight': 212},
 {'id': 164, 'name': 'noctowl', 'height': 16, 'weight': 408},
 {'id': 165, 'name': 'ledyba', 'height': 10, 'weight': 108},
 {'id': 166, 'name': 'ledian', 'height': 14, 'weight': 356},
 {'id': 169, 'name': 'crobat', 'height': 18, 'weight': 750},
 {'id': 176, 'name': 'togetic', 'height': 6, 'weight': 32},
 {'id': 177, 'name': 'natu', 'height': 2, 'weight': 20},
 {'id': 178, 'name': 'xatu', 'height': 15, 'weight': 150},
 {'id': 187, 'name': 'hoppip', 'height': 4, 'weight': 5},
 {'id': 188, 'name': 'skiploom', 'height': 6, 'weight': 10},
 {'id': 189, 'name': 'jumpluff', 'height': 8, 'weight': 30},
 {'id': 193, 'name': 'yanma', 'height': 12, 'weight': 380},
 {'id': 198, 'name': 'murkrow', 'height': 5, 'weight': 21},
 {'id': 207, 'name': 'gligar', 'height': 11, 'weight': 648},
 {'id': 225, 'name': 'delibird', 'height': 9, 'weight': 160},
 {'id': 226, 'name': 'mantine', 'height': 21, 'weight': 2200},
 {'id': 227, 'name': 'skarmory', 'height': 17, 'weight': 505},
 {'id': 249, 'name': 'lugia', 'height': 52, 'weight': 2160},
 {'id': 250, 'name': 'ho-oh', 'height': 38, 'weight': 1990},
 {'id': 267, 'name': 'beautifly', 'height': 10, 'weight': 284},
 {'id': 276, 'name': 'taillow', 'height': 3, 'weight': 23},
 {'id': 277, 'name': 'swellow', 'height': 7, 'weight': 198},
 {'id': 278, 'name': 'wingull', 'height': 6, 'weight': 95},
 {'id': 279, 'name': 'pelipper', 'height': 12, 'weight': 280},
 {'id': 284, 'name': 'masquerain', 'height': 8, 'weight': 36},
 {'id': 291, 'name': 'ninjask', 'height': 8, 'weight': 120},
 {'id': 333, 'name': 'swablu', 'height': 4, 'weight': 12},
 {'id': 334, 'name': 'altaria', 'height': 11, 'weight': 206},
 {'id': 357, 'name': 'tropius', 'height': 20, 'weight': 1000},
 {'id': 373, 'name': 'salamence', 'height': 15, 'weight': 1026},
 {'id': 384, 'name': 'rayquaza', 'height': 70, 'weight': 2065}]

In [107]:
pokemons_df = pd.DataFrame(first_50_pokemons)
filepath = 'pokemons.csv'
pokemons_df.to_csv(filepath, index=False)

In [8]:
class ConvertUnits(beam.DoFn):
    def process(self, element):
        # Convert height from inches to metres
        element['height'] = element['height'] * 0.0254
        # Convert weight from lbs to kgs
        element['weight'] = element['weight'] * 0.453592
        yield element

class CalculateBMI(beam.DoFn):
    def process(self, element):
        # Calculate BMI
        bmi = element['weight'] / (element['height'] ** 2)
        # Round BMI to two decimal places
        element['bmi'] = round(bmi, 2)
        yield element

In [37]:
# Create a pipeline using Apache Beam
with beam.Pipeline() as pipeline:
    transformed_data = (
        pipeline
        | 'Create Pokemon Collections' >> beam.Create(first_50_pokemons)
        | 'Convert Units' >> beam.ParDo(ConvertUnits())
        | 'Calculate BMI' >> beam.ParDo(CalculateBMI())
    )

    # get the first 50 rows
    first_50_rows = transformed_data | beam.combiners.Sample.FixedSizeGlobally(50)
    
    first_50_rows | 'Print Output' >> beam.Map(print)

[{'id': 334, 'name': 'altaria', 'height': 0.2794, 'weight': 93.439952, 'bmi': 1196.96}, {'id': 225, 'name': 'delibird', 'height': 0.2286, 'weight': 72.57472, 'bmi': 1388.78}, {'id': 193, 'name': 'yanma', 'height': 0.30479999999999996, 'weight': 172.36496, 'bmi': 1855.32}, {'id': 144, 'name': 'articuno', 'height': 0.43179999999999996, 'weight': 251.289968, 'bmi': 1347.75}, {'id': 85, 'name': 'dodrio', 'height': 0.4572, 'weight': 386.460384, 'bmi': 1848.81}, {'id': 207, 'name': 'gligar', 'height': 0.2794, 'weight': 293.927616, 'bmi': 3765.2}, {'id': 278, 'name': 'wingull', 'height': 0.15239999999999998, 'weight': 43.09124, 'bmi': 1855.32}, {'id': 41, 'name': 'zubat', 'height': 0.2032, 'weight': 34.0194, 'bmi': 823.91}, {'id': 333, 'name': 'swablu', 'height': 0.1016, 'weight': 5.443104, 'bmi': 527.3}, {'id': 149, 'name': 'dragonite', 'height': 0.5588, 'weight': 952.5432, 'bmi': 3050.51}, {'id': 164, 'name': 'noctowl', 'height': 0.4064, 'weight': 185.065536, 'bmi': 1120.52}, {'id': 198, 'name': 'murkrow', 'height': 0.127, 'weight': 9.525432, 'bmi': 590.58}, {'id': 384, 'name': 'rayquaza', 'height': 1.778, 'weight': 936.66748, 'bmi': 296.29}, {'id': 187, 'name': 'hoppip', 'height': 0.1016, 'weight': 2.26796, 'bmi': 219.71}, {'id': 17, 'name': 'pidgeotto', 'height': 0.2794, 'weight': 136.0776, 'bmi': 1743.15}, {'id': 267, 'name': 'beautifly', 'height': 0.254, 'weight': 128.820128, 'bmi': 1996.72}, {'id': 130, 'name': 'gyarados', 'height': 1.651, 'weight': 1065.9412, 'bmi': 391.06}, {'id': 226, 'name': 'mantine', 'height': 0.5334, 'weight': 997.9024, 'bmi': 3507.37}, {'id': 227, 'name': 'skarmory', 'height': 0.43179999999999996, 'weight': 229.06396, 'bmi': 1228.55}, {'id': 284, 'name': 'masquerain', 'height': 0.2032, 'weight': 16.329312, 'bmi': 395.48}, {'id': 166, 'name': 'ledian', 'height': 0.35559999999999997, 'weight': 161.478752, 'bmi': 1277.0}, {'id': 145, 'name': 'zapdos', 'height': 0.4064, 'weight': 238.589392, 'bmi': 1444.59}, {'id': 178, 'name': 'xatu', 'height': 0.381, 'weight': 68.0388, 'bmi': 468.71}, {'id': 188, 'name': 'skiploom', 'height': 0.15239999999999998, 'weight': 4.53592, 'bmi': 195.3}, {'id': 142, 'name': 'aerodactyl', 'height': 0.4572, 'weight': 267.61928, 'bmi': 1280.28}, {'id': 249, 'name': 'lugia', 'height': 1.3208, 'weight': 979.75872, 'bmi': 561.62}, {'id': 42, 'name': 'golbat', 'height': 0.4064, 'weight': 249.4756, 'bmi': 1510.5}, {'id': 84, 'name': 'doduo', 'height': 0.35559999999999997, 'weight': 177.808064, 'bmi': 1406.14}, {'id': 6, 'name': 'charizard', 'height': 0.43179999999999996, 'weight': 410.50076, 'bmi': 2201.65}, {'id': 18, 'name': 'pidgeot', 'height': 0.381, 'weight': 179.16884, 'bmi': 1234.28}, {'id': 277, 'name': 'swellow', 'height': 0.17779999999999999, 'weight': 89.811216, 'bmi': 2840.97}, {'id': 279, 'name': 'pelipper', 'height': 0.30479999999999996, 'weight': 127.00576, 'bmi': 1367.08}, {'id': 12, 'name': 'butterfree', 'height': 0.2794, 'weight': 145.14944, 'bmi': 1859.36}, {'id': 165, 'name': 'ledyba', 'height': 0.254, 'weight': 48.987936, 'bmi': 759.31}, {'id': 189, 'name': 'jumpluff', 'height': 0.2032, 'weight': 13.607759999999999, 'bmi': 329.56}, {'id': 163, 'name': 'hoothoot', 'height': 0.17779999999999999, 'weight': 96.161504, 'bmi': 3041.85}, {'id': 21, 'name': 'spearow', 'height': 0.07619999999999999, 'weight': 9.07184, 'bmi': 1562.38}, {'id': 291, 'name': 'ninjask', 'height': 0.2032, 'weight': 54.431039999999996, 'bmi': 1318.25}, {'id': 177, 'name': 'natu', 'height': 0.0508, 'weight': 9.07184, 'bmi': 3515.35}, {'id': 250, 'name': 'ho-oh', 'height': 0.9652, 'weight': 902.6480799999999, 'bmi': 968.91}, {'id': 146, 'name': 'moltres', 'height': 0.508, 'weight': 272.1552, 'bmi': 1054.6}, {'id': 176, 'name': 'togetic', 'height': 0.15239999999999998, 'weight': 14.514944, 'bmi': 624.95}, {'id': 83, 'name': 'farfetchd', 'height': 0.2032, 'weight': 68.0388, 'bmi': 1647.82}, {'id': 123, 'name': 'scyther', 'height': 0.381, 'weight': 254.01152, 'bmi': 1749.86}, {'id': 276, 'name': 'taillow', 'height': 0.07619999999999999, 'weight': 10.432616, 'bmi': 1796.73}, {'id': 357, 'name': 'tropius', 'height': 0.508, 'weight': 453.592, 'bmi': 1757.67}, {'id': 16, 'name': 'pidgey', 'height': 0.07619999999999999, 'weight': 8.164656, 'bmi': 1406.14}, {'id': 169, 'name': 'crobat', 'height': 0.4572, 'weight': 340.194, 'bmi': 1627.47}, {'id': 22, 'name': 'fearow', 'height': 0.30479999999999996, 'weight': 172.36496, 'bmi': 1855.32}, {'id': 373, 'name': 'salamence', 'height': 0.381, 'weight': 465.38539199999997, 'bmi': 3205.99}]

In [56]:
def create_database(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    cursor.execute("""
        CREATE TABLE IF NOT EXISTS pokemon_data (
                id INTEGER PRIMARY KEY,
                name TEXT,
                height REAL,
                weight REAL,
                bmi REAL
        )
    """)

    conn.commit()
    conn.close()

In [64]:
create_database('pokemon_data.db')

In [65]:
def write_to_sqlite(data, db_path):
    print(f'Saving {data}')
    # Connect to the SQLite database
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Insert each element into the table
    cursor.execute("INSERT INTO pokemon_data VALUES (?, ?, ?, ?, ?)",
                    (data['id'], data['name'], data['height'], data['weight'], data['bmi']))

    # Save changes and close the connection
    conn.commit()
    conn.close()

In [66]:
with beam.Pipeline() as pipeline:
    transformed_data = (
        pipeline
        | 'Create Pokemon Collections' >> beam.Create(first_50_pokemons)
        | 'Convert Units' >> beam.ParDo(ConvertUnits())
        | 'Calculate BMI' >> beam.ParDo(CalculateBMI())
    )
    # Print the first 50 rows
    # first_50_rows = transformed_data | beam.combiners.Sample.FixedSizeGlobally(50)
    # first_50_rows | 'Print Output' >> beam.Map(print)

    # Save the data to the SQLite database
    transformed_data | 'Write to SQLite' >> beam.FlatMap(lambda x: write_to_sqlite(x, 'pokemon_data.db'))

Saving {'id': 6, 'name': 'charizard', 'height': 0.43179999999999996, 'weight': 410.50076, 'bmi': 2201.65}
Saving {'id': 12, 'name': 'butterfree', 'height': 0.2794, 'weight': 145.14944, 'bmi': 1859.36}
Saving {'id': 16, 'name': 'pidgey', 'height': 0.07619999999999999, 'weight': 8.164656, 'bmi': 1406.14}
Saving {'id': 17, 'name': 'pidgeotto', 'height': 0.2794, 'weight': 136.0776, 'bmi': 1743.15}
Saving {'id': 18, 'name': 'pidgeot', 'height': 0.381, 'weight': 179.16884, 'bmi': 1234.28}
Saving {'id': 21, 'name': 'spearow', 'height': 0.07619999999999999, 'weight': 9.07184, 'bmi': 1562.38}
Saving {'id': 22, 'name': 'fearow', 'height': 0.30479999999999996, 'weight': 172.36496, 'bmi': 1855.32}
Saving {'id': 41, 'name': 'zubat', 'height': 0.2032, 'weight': 34.0194, 'bmi': 823.91}
Saving {'id': 42, 'name': 'golbat', 'height': 0.4064, 'weight': 249.4756, 'bmi': 1510.5}
Saving {'id': 83, 'name': 'farfetchd', 'height': 0.2032, 'weight': 68.0388, 'bmi': 1647.82}
Saving {'id': 84, 'name': 'doduo', 'height': 0.35559999999999997, 'weight': 177.808064, 'bmi': 1406.14}
Saving {'id': 85, 'name': 'dodrio', 'height': 0.4572, 'weight': 386.460384, 'bmi': 1848.81}
Saving {'id': 123, 'name': 'scyther', 'height': 0.381, 'weight': 254.01152, 'bmi': 1749.86}
Saving {'id': 130, 'name': 'gyarados', 'height': 1.651, 'weight': 1065.9412, 'bmi': 391.06}
Saving {'id': 142, 'name': 'aerodactyl', 'height': 0.4572, 'weight': 267.61928, 'bmi': 1280.28}
Saving {'id': 144, 'name': 'articuno', 'height': 0.43179999999999996, 'weight': 251.289968, 'bmi': 1347.75}
Saving {'id': 145, 'name': 'zapdos', 'height': 0.4064, 'weight': 238.589392, 'bmi': 1444.59}
Saving {'id': 146, 'name': 'moltres', 'height': 0.508, 'weight': 272.1552, 'bmi': 1054.6}
Saving {'id': 149, 'name': 'dragonite', 'height': 0.5588, 'weight': 952.5432, 'bmi': 3050.51}
Saving {'id': 163, 'name': 'hoothoot', 'height': 0.17779999999999999, 'weight': 96.161504, 'bmi': 3041.85}
Saving {'id': 164, 'name': 'noctowl', 'height': 0.4064, 'weight': 185.065536, 'bmi': 1120.52}
Saving {'id': 165, 'name': 'ledyba', 'height': 0.254, 'weight': 48.987936, 'bmi': 759.31}
Saving {'id': 166, 'name': 'ledian', 'height': 0.35559999999999997, 'weight': 161.478752, 'bmi': 1277.0}
Saving {'id': 169, 'name': 'crobat', 'height': 0.4572, 'weight': 340.194, 'bmi': 1627.47}
Saving {'id': 176, 'name': 'togetic', 'height': 0.15239999999999998, 'weight': 14.514944, 'bmi': 624.95}
Saving {'id': 177, 'name': 'natu', 'height': 0.0508, 'weight': 9.07184, 'bmi': 3515.35}
Saving {'id': 178, 'name': 'xatu', 'height': 0.381, 'weight': 68.0388, 'bmi': 468.71}
Saving {'id': 187, 'name': 'hoppip', 'height': 0.1016, 'weight': 2.26796, 'bmi': 219.71}
Saving {'id': 188, 'name': 'skiploom', 'height': 0.15239999999999998, 'weight': 4.53592, 'bmi': 195.3}
Saving {'id': 189, 'name': 'jumpluff', 'height': 0.2032, 'weight': 13.607759999999999, 'bmi': 329.56}
Saving {'id': 193, 'name': 'yanma', 'height': 0.30479999999999996, 'weight': 172.36496, 'bmi': 1855.32}
Saving {'id': 198, 'name': 'murkrow', 'height': 0.127, 'weight': 9.525432, 'bmi': 590.58}
Saving {'id': 207, 'name': 'gligar', 'height': 0.2794, 'weight': 293.927616, 'bmi': 3765.2}
Saving {'id': 225, 'name': 'delibird', 'height': 0.2286, 'weight': 72.57472, 'bmi': 1388.78}
Saving {'id': 226, 'name': 'mantine', 'height': 0.5334, 'weight': 997.9024, 'bmi': 3507.37}
Saving {'id': 227, 'name': 'skarmory', 'height': 0.43179999999999996, 'weight': 229.06396, 'bmi': 1228.55}
Saving {'id': 249, 'name': 'lugia', 'height': 1.3208, 'weight': 979.75872, 'bmi': 561.62}
Saving {'id': 250, 'name': 'ho-oh', 'height': 0.9652, 'weight': 902.6480799999999, 'bmi': 968.91}
Saving {'id': 267, 'name': 'beautifly', 'height': 0.254, 'weight': 128.820128, 'bmi': 1996.72}
Saving {'id': 276, 'name': 'taillow', 'height': 0.07619999999999999, 'weight': 10.432616, 'bmi': 1796.73}
Saving {'id': 277, 'name': 'swellow', 'height': 0.17779999999999999, 'weight': 89.811216, 'bmi': 2840.97}
Saving {'id': 278, 'name': 'wingull', 'height': 0.15239999999999998, 'weight': 43.09124, 'bmi': 1855.32}
Saving {'id': 279, 'name': 'pelipper', 'height': 0.30479999999999996, 'weight': 127.00576, 'bmi': 1367.08}
Saving {'id': 284, 'name': 'masquerain', 'height': 0.2032, 'weight': 16.329312, 'bmi': 395.48}
Saving {'id': 291, 'name': 'ninjask', 'height': 0.2032, 'weight': 54.431039999999996, 'bmi': 1318.25}
Saving {'id': 333, 'name': 'swablu', 'height': 0.1016, 'weight': 5.443104, 'bmi': 527.3}
Saving {'id': 334, 'name': 'altaria', 'height': 0.2794, 'weight': 93.439952, 'bmi': 1196.96}
Saving {'id': 357, 'name': 'tropius', 'height': 0.508, 'weight': 453.592, 'bmi': 1757.67}
Saving {'id': 373, 'name': 'salamence', 'height': 0.381, 'weight': 465.38539199999997, 'bmi': 3205.99}
Saving {'id': 384, 'name': 'rayquaza', 'height': 1.778, 'weight': 936.66748, 'bmi': 296.29}

In [108]:
pokemons_df['height'] = (pokemons_df['height'] * 0.0254).round(2)
pokemons_df['weight'] = (pokemons_df['weight'] * 0.453592).round(2)

In [109]:
pokemons_df['bmi'] = pokemons_df['weight'] / (pokemons_df['height'] ** 2)
pokemons_df['bmi'] = pokemons_df['bmi'].apply(lambda x: round(x,2))

In [110]:
pokemons_df

     id        name  height   weight      bmi
0     6   charizard    0.43   410.50  2220.12
1    12  butterfree    0.28   145.15  1851.40
2    16      pidgey    0.08     8.16  1275.00
3    17   pidgeotto    0.28   136.08  1735.71
4    18     pidgeot    0.38   179.17  1240.79
5    21     spearow    0.08     9.07  1417.19
6    22      fearow    0.30   172.36  1915.11
7    41       zubat    0.20    34.02   850.50
8    42      golbat    0.41   249.48  1484.12
9    83   farfetchd    0.20    68.04  1701.00
10   84       doduo    0.36   177.81  1371.99
11   85      dodrio    0.46   386.46  1826.37
12  123     scyther    0.38   254.01  1759.07
13  130    gyarados    1.65  1065.94   391.53
14  142  aerodactyl    0.46   267.62  1264.74
15  144    articuno    0.43   251.29  1359.06
16  145      zapdos    0.41   238.59  1419.33
17  146     moltres    0.51   272.16  1046.37
18  149   dragonite    0.56   952.54  3037.44
19  163    hoothoot    0.18    96.16  2967.90
20  164     noctowl    0.41   185.07  1100.95
21  165      ledyba    0.25    48.99   783.84
22  166      ledian    0.36   161.48  1245.99
23  169      crobat    0.46   340.19  1607.70
24  176     togetic    0.15    14.51   644.89
25  177        natu    0.05     9.07  3628.00
26  178        xatu    0.38    68.04   471.19
27  187      hoppip    0.10     2.27   227.00
28  188    skiploom    0.15     4.54   201.78
29  189    jumpluff    0.20    13.61   340.25
30  193       yanma    0.30   172.36  1915.11
31  198     murkrow    0.13     9.53   563.91
32  207      gligar    0.28   293.93  3749.11
33  225    delibird    0.23    72.57  1371.83
34  226     mantine    0.53   997.90  3552.51
35  227    skarmory    0.43   229.06  1238.83
36  249       lugia    1.32   979.76   562.30
37  250       ho-oh    0.97   902.65   959.35
38  267   beautifly    0.25   128.82  2061.12
39  276     taillow    0.08    10.43  1629.69
40  277     swellow    0.18    89.81  2771.91
41  278     wingull    0.15    43.09  1915.11
42  279    pelipper    0.30   127.01  1411.22
43  284  masquerain    0.20    16.33   408.25
44  291     ninjask    0.20    54.43  1360.75
45  333      swablu    0.10     5.44   544.00
46  334     altaria    0.28    93.44  1191.84
47  357     tropius    0.51   453.59  1743.91
48  373   salamence    0.38   465.39  3222.92
49  384    rayquaza    1.78   936.67   295.63

In [111]:
pokemon_with_lowest_bmi = pokemons_df.loc[pokemons_df['bmi'].idxmin()]
pokemon_with_highest_bmi = pokemons_df.loc[pokemons_df['bmi'].idxmax()]

In [116]:
print(f'Pokemon with lowest bmi is {pokemon_with_lowest_bmi["name"]} with bmi={pokemon_with_lowest_bmi["bmi"]} having height of {pokemon_with_lowest_bmi["height"]}m and weight of {pokemon_with_lowest_bmi["weight"]}kg')
print(f'Pokemon with highest bmi is {pokemon_with_highest_bmi["name"]} with bmi={pokemon_with_highest_bmi["bmi"]} having height of {pokemon_with_highest_bmi["height"]}m and weight of {pokemon_with_highest_bmi["weight"]}kg')
print(f'The mean bmi is {pokemons_df["bmi"].mean()}')
print(f'The median bmi is {pokemons_df["bmi"].median()}')

Pokemon with lowest bmi is skiploom with bmi=201.78 having height of 0.15m and weight of 4.54kg
Pokemon with highest bmi is gligar with bmi=3749.11 having height of 0.28m and weight of 293.93kg
The mean bmi is 1497.1126000000002
The median bmi is 1371.9099999999999

1497.1126000000002